.s-header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;

  &__logo {
    display: block;
    box-sizing: border-box;
    width: 30%;
    padding-right: 40px;
    img {
      width: 80%;
      height: auto;
    }
  }

  &__content {
    width: 70%;
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
  }

  &__site-name {
    font-size: 2em;

  }
}