.s-node {
  display: flex;
  flex-wrap: wrap;

  &__image {
    //background: rgba(255,0,0, 0.5);
    width: span(2 of 2);

    @include tablet {
      width: span(4 narrow);

      .s-node--page & {
        margin-right: gutter();
      }
    }



    //padding: gutter();

    &.s-node--teaser {
      width: 100%;
    }

    .view & {
      width: 100%;
      padding-right: 0;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__content {
    margin-top: 20px;
    width: span(2 of 2);

    @include tablet {
      width: span(8);
    }

    .view & {
      width: 100%;
    }

    h1 {
      margin: 0;
    }
  }
}