.s-node--product {

  .s-node__image {
    width: span(5);
    padding-right: 40px;
    img {
      width: 100%;
    }
  }
  .s-node__content {
    width: span(7);
  }

  &:hover {
    @include desktop {
      .s-node__content {
        max-height: 280px;
      }
    }

  }

  .s-node__title {
    font-size: 30px;
  }
}

.s-node--teaser.s-node--product {
  overflow: hidden;
  position: relative;
  margin-bottom: 4%;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  .s-node__image {
    width: 100%;
    padding-right: 0;
    line-height: 0;
    img {
      width: 100%;
    }
  }
  .s-node__content {
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 80px;
    padding: 0 30px;
    color: #fff;
    background: linear-gradient(to bottom, rgba(20, 19, 19, 0.01) 0%, #42b3a6 100%);
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
    line-height: 1.4;
    transition: 0.5s max-height ease;
    pointer-events: none;
    ul {
      padding: 0;
    }
  }

  &:hover {
    @include desktop {
      .s-node__content {
        max-height: 280px;
      }
    }

  }

  .s-node__title {
    margin: 0;
    padding: 0;
    height: 80px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    a {
      text-decoration: none;
      font-size: 0.9em;
      color: #fff;
    }
  }
}
