body {
  font-family: $font-main;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  background: $color-bg;
  color: $color-text;
}

p {
  margin: 20px 0;
}

ul {
  margin: 20px;
  padding: 0 3em;
  list-style-type: disc;
}

.s-node--page .page-title, .page-title {
  margin: 0 0 20px;
  font-size: 1.6em;
  font-weight: 400;
}
