body {
  font-family: $font-main;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  background: $color-bg;
  color: $color-text;
}

.s-node--page .page-title {
  margin: 0 0 20px;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}
