h1, h2, h3, h4, h5 {
  font-weight: 400;
  margin: 0.8em 0; }

body {
  font-family: "Roboto Condensed", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  background: rgba(236, 248, 247, 0.3);
  color: #333; }

.page-title {
  margin: 0 0 20px;
  font-size: 28px;
  font-weight: 400;
  text-align: right; }

/**
 * The following variable and function originate from the sass-mq library.
 * If you have already included it, you can eliminate the below
 * https://github.com/sass-mq/sass-mq/blob/master/_mq.scss
 */
#block-languageswitcher .links li a[hreflang="en"], #block-languageswitcher .links li a[hreflang="pl"] {
  display: inline-block;
  background-image: url("../css/img/sprite.svg"); }

.s-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px; }
  .s-header__logo {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 30%;
    padding-right: 40px; }
    .s-header__logo img {
      width: 80%;
      height: auto; }
  .s-header__content {
    width: 70%; }
  .s-header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .s-header__site-name {
    font-size: 2em; }

.page {
  max-width: 1200px;
  margin: 0 auto; }

.s-node {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .s-node__image {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 40%;
    padding-right: 40px; }
    .s-node__image.s-node--teaser {
      width: 100%; }
    .view .s-node__image {
      width: 100%;
      padding-right: 0; }
    .s-node__image img {
      width: 85%;
      height: auto; }
  .s-node__content {
    width: 60%; }
    .view .s-node__content {
      width: 100%; }
    .s-node__content h1 {
      margin: 0; }

.view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .view .s-node img {
    max-width: 100%;
    height: auto; }
  @media (min-width: 640px) {
    .view .s-node {
      width: 48%; } }

#block-languageswitcher .links li {
  display: inline-block;
  list-style: none; }
  #block-languageswitcher .links li a {
    font-size: 0;
    margin: 20px;
    width: 40px;
    height: 30px;
    background-size: cover;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 0px 1px #42b3a6;
            box-shadow: 0px 0px 0px 1px #42b3a6;
    -webkit-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out; }
    #block-languageswitcher .links li a:hover {
      -webkit-box-shadow: 0px 0px 5px 1px #42b3a6;
              box-shadow: 0px 0px 5px 1px #42b3a6; }
    #block-languageswitcher .links li a[hreflang="en"] {
      background-position: 0 0; }
    #block-languageswitcher .links li a[hreflang="pl"] {
      background-position: 0 -30px; }

#block-bimares-main-menu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0; }
  #block-bimares-main-menu > ul li {
    display: inline-block;
    width: 100%;
    text-align: center; }
    #block-bimares-main-menu > ul li a {
      -webkit-transition: all .1s linear;
      transition: all .1s linear;
      color: #333;
      text-decoration: none;
      font-size: 22px;
      display: block;
      padding: 5px 0;
      margin-left: 5px; }
      #block-bimares-main-menu > ul li a.is-active {
        background: rgba(109, 193, 179, 0.5); }
      #block-bimares-main-menu > ul li a:hover {
        background: #42b3a6;
        color: #fff; }

#block-bimares-local-tasks > ul li {
  display: inline-block;
  padding-right: 40px; }

#block-footer {
  background: rgba(109, 193, 179, 0.5);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  #block-footer .s-footer__content {
    color: #333; }
    #block-footer .s-footer__content p {
      margin: 0;
      font-size: 0.7em; }

.s-node--teaser.s-node--product {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  line-height: 0; }
  .s-node--teaser.s-node--product .s-node__image {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: auto; }
    .s-node--teaser.s-node--product .s-node__image img {
      width: 100%; }
  .s-node--teaser.s-node--product .s-node__content {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    padding: 20px;
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 19, 19, 0.01)), to(#42b3a6));
    background: linear-gradient(to bottom, rgba(20, 19, 19, 0.01) 0%, #42b3a6 100%);
    text-shadow: 0 0 10px black;
    font-size: 0.9em;
    line-height: 1.4; }
    .s-node--teaser.s-node--product .s-node__content .page-title {
      margin: 0 0 0 20px;
      padding: 0;
      text-align: left; }
      .s-node--teaser.s-node--product .s-node__content .page-title a {
        text-decoration: none;
        color: #fff; }

/*# sourceMappingURL=styles.css.map */
